nav { 
	width: 100%;
	height: 60px;
	background-color: #aaa;
}

nav ul {
	float: left;
}

nav ul li {
	float: left;
	list-style: none; /* Important! Should have no bullet points next to list items */
	position: relative;
}

nav ul li a {
	display: block;
	font-family: arial;
	color: #222;
	font-size: 12px;
	padding: 10px 14px;
	text-decoration: none;
}

nav ul li ul {
	display: none; /* block --> display, none -> don't display (should only display on hover) */
	position: absolute; /* Need this to not get weird spacing between menu items */
	padding: 10px; /* Spacing between walls of navigation dropdown */
}

nav ul li:hover ul {
	display: block; /* block --> display, none -> don't display (should only display on hover) */
}

nav ul li ul li {
	width: 180px; /* we have this big to make sure it holds menu item option text */
}

nav ul li ul li a {
	padding: 8px 14px;
}

nav ul li ul li a:hover {
	background-color: #f3f3f3; /*highlights as gray on hover*/
}


