<Breadcrumb @model={{this.model}}/>
<h1>Characters Page</h1>

{{#each this.model.characters as |record|}}
   <LinkTo @route='character' @model={{record}}><p>Character name: {{record.name}}</p></LinkTo>
    <p>Culture: {{record.culture}}</p>
{{/each}}