<Breadcrumb />

<h1>Characters Page</h1>

{{#each this.model.content as |stuff|}}
<p>Character name: <LinkTo @route='character' @model={{stuff._record}}>
{{stuff._record.name}}
<li>Id: {{stuff._record.id}}</li>
</LinkTo>
</p>

<p>Culture: {{stuff._record.culture}}</p>
{{/each}}