<Breadcrumb @model={{this.model}}/>
<h1>Houses Page</h1>

{{#each this.model.houses as |record|}}
    <LinkTo @route='house' @model={{record}}><li>Name: {{record.name}}</li></LinkTo>
    <li>Region: {{record.region}}</li>
{{/each}}